<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MatDB</title>
  <link rel="icon" href="imgs/ico/mat32×32.png" type="image/png" sizes="32×32">
  <link rel="icon" href="imgs/ico/mat16×16.png" type="image/png" sizes="16×16">
  <script type="text/javascript" src="jsmol/JSmol.min.js"></script>
  <script src="jquery/jquery.min.js"></script>
  <link href="bootstrap/bootstrap.min.css" rel="stylesheet">
  <script src="bootstrap/popper.min.js"></script>
  <script src="bootstrap/bootstrap.min.js"></script>
  <link href="bootstrap/fileinput.min.css" rel="stylesheet">
  <script src="bootstrap/fileinput.min.js"></script>
  <script src="datatables.net/jquery.dataTables.js"></script>
  <link rel="stylesheet" href="datatables.net/jquery.dataTables.css">
  <script src="axios/axios.min.js"></script>
  <script src="xlsx/xlsx.full.min.js"></script>
  <script src="filesaver/FileSaver.min.js"></script>
  <script src="tensorflow/tf.min.js"></script>
</head>

<style>
  body {
    background-color: #EFEDE6;
    position: relative;
  }

  /*卡片样式*/
  .card {
    width: 1000px;
    margin: 50px auto 0;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #999;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  }

  .card-body {
    text-align: center;
    padding: 2rem;
  }

  .card-title {
    font-size: 2.5rem;
    text-align: center;
  }

  .card-text {
    font-size: 1.5rem;
    text-align: center;
  }

  .card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

   @media (max-width: 992px) {
    .card {
      width: 100%;
      margin: 25px auto;
    }

    .card-body {
      padding: 1.5rem;
    }

    .card-title {
      font-size: 2.5rem;
    }

    .card-text {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 768px) {
    .card {
      margin: 20px auto;
    }

    .card-body {
      padding: 1rem;
    }

    .card-title {
      font-size: 2rem;
    }

    .card-text {
      font-size: 1.2rem;
    }
  }

  /*按钮样式*/
  .btns {
    text-align: center;
  }

  .btn {
    display: inline-block;
    background-color: #333333;
    color: #EFEDE6;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    transition: all 0.3s;
  }

  @media (max-width: 992px) {
    .operation:not(#back) {
      display: none;
    }
  }

  @media (max-width: 992px) {
    #update {
      display: none;
    }
    #delete {
      display: none;
    }
  }

  /*表格样式*/
  .table {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }

  .table td,
  .table th {
    padding: 10px;
    border-color: #999;
  }

  .table thead th {
    color: #fff;
    background-color: #333333;
  }

  .table tbody tr:hover {
    background: #f5f5f5;
  }

  .dataTables_paginate {
    text-align: center;
  }

  .dataTables_paginate a {
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
  }

  @media (max-width: 768px) {

    .table td,
    .table th {
      padding: 10px 5px;
    }

    .dataTables_paginate {
      margin-top: 10px;
    }
  }

  #myTable {
    table-layout: fixed;
    width: 100%;
    display: block;
    overflow: auto;
    max-height: 500px;
  }

  #myTable th,
  #myTable td {
    width: 10%;
    vertical-align: middle;
  }

  #myTable td {
    word-break: break-all;
    white-space: normal;
    text-align: center;
  }

  /*输入区样式*/
  textarea.form-control {
    height: 46px;
    border-radius: 25px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    transition: background-color 0.3s, border-color 0.3s;
  }

  textarea.form-control:hover {
    background-color: #f5f5f5;
    border-color: #999;
  }

  textarea.form-control:focus {
    border-color: transparent;
    outline-color: #999;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1), 0 0 0 0.2rem rgba(153, 153, 153, 0.25);
  }

  /*设置弹窗滚动条*/
  .row_Y {
    max-height: 500px;
    overflow-y: auto;
  }

  /*Detail弹窗效果*/

  /*取消jsmol右键菜单*/
  [id^='jmolApplet0_popupMenu'] {
    display: none !important;
  }

  .infop {
    display: inline-block;
    padding: 0.3em 0.6em;
    background-color: #333333;
    color: #fff;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin: 5px;
  }

  .infop.scalar:hover {
    background-color: #0069D9;
  }

  .infop.vector:hover {
    background-color: #BD2130;
  }

  .infop.tensor:hover {
    background-color: #18A689;
  }

  .infop.scalar:active {
    background-color: #1057B3;
  }

  .infop.vector:active {
    background-color: #9C111F;
  }

  .infop.tensor:active {
    background-color: #14896F;
  }

  /*File弹窗效果*/
  input.file-caption-name.form-control.kv-fileinput-caption:focus {
    border: 1px solid #ced4da;
    box-shadow: 0 0 5px 2px #999;
  }

  #fileText span {
    display: inline-block;
    padding: 0.3em 0.6em;
    background-color: #333;
    color: #fff;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin: 5px;
  }

  #fileText span:hover {
    background-color: #555;
  }

  #fileText span:active {
    background-color: #777;
  }
</style>

<script>

  // 设置File文本方法
  function createFile(speciality) {
    let str = ``;
    for (let i = 0; i < speciality.length; i++) {
      if (speciality[i] != "") {
        str += `<span>${speciality[i]}</span>`;
      }
    }
    return str;
  }

  // 创建Update输入框方法
  function createUpdate(speciality) {
    let html = ``;
    for (let i = 0; i < speciality.length; i++) {
      if (speciality[i] != "") {
        html += `<div class="form-group col-6">
            <label for="update${i}">${speciality[i]}</label>
            <textarea class="form-control" id="update${i}"></textarea>
          </div>`;
      }
    }
    return html;
  }

  // 创建Add输入框方法
  function createAdd(speciality) {
    let html = ``;
    for (let i = 0; i < speciality.length; i++) {
      if (speciality[i] != "") {
        html += `<div class="form-group col-6">
              <label for="add${i}">${speciality[i]}</label>
              <textarea class="form-control" id="add${i}"></textarea>
              </div>`;
      }
    }
    return html;
  }

  // 创建表头方法
  function createTr(speciality) {
    let html = ``;
    for (let i = 0; i < speciality.length; i++) {
      if (speciality[i] != "") {
        html += `<th scope="col">${speciality[i]}</th>`;
      }
    }
    return html;
  }

  // 设置表格属性长度极限
  function truncateValues(obj) {
    for (let prop in obj) {
      if (obj.hasOwnProperty(prop) && typeof obj[prop] === 'string') {
        if (obj[prop].length > 60) {
          obj[prop] = obj[prop].substring(0, 60) + '...';
        }
      }
    }
    return obj;
  }

  // 创建表格方法
  function createTable(list, speciality) {
    let html = '';
    for (let i = 0; i < list.length; i++) {
      let obj = truncateValues(list[i]);
      html += `<tr class="clickable-row" data-toggle="modal" data-target="#rowModal">`;
      html += `<th scope="row" title="${obj.id}">${obj.id}</th>`;
      html += `<td col="0" title="${obj.structure}">${obj.structure}</td>`;
      html += `<td col="1" title="${obj.formula}">${obj.formula}</td>`;
      html += `<td col="2" title="${obj.name}">${obj.name}</td>`;
      html += `<td col="3" title="${obj.symmetry}">${obj.symmetry}</td>`;
      html += `<td col="4" title="${obj.metal}">${obj.metal}</td>`;
      html += `<td col="5" title="${obj.bandgappbe}">${obj.bandgappbe}</td>`;
      html += `<td col="6" title="${obj.bandgaphse}">${obj.bandgaphse}</td>`;
      html += `<td col="7" title="${obj.doi}">${obj.doi}</td>`;
      html += `<td col="8" title="${obj.url}">${obj.url}</td>`;
      html += `<td col="9" title="${obj.publication}">${obj.publication}</td>`;
      if (obj.speciality) {
        if (JSON.stringify(speciality) != '[""]') {
          for (let j = 0; j < obj.speciality.length; j++) {
            if (obj.speciality[j]) {
              html += `<td col="${10 + j}">${obj.speciality[j]}</td>`;
            }
            else {
              html += `<td col="${10 + j}">null</td>`;
            }
          }
        }
      }
      else {
        if (JSON.stringify(speciality) != '[""]') {
          for (let j = 0; j < speciality.length; j++) {
            html += `<td col="${10 + j}">null</td>`;
          }
        }
      }
      html += `</tr>`;
    }
    return html;
  }

  // 创建介绍卡片方法
  function createCard(obj) {
    let html = `
  <div class="card-body">
    <h5 class="card-title">${obj.title}</h5>
    <p class="card-text">
      ${obj.introduction}
      </br>
      <small>${obj.id}: ${obj.type}</small>
    </p>
  </div>`;
    return html;
  }

  // 创建Show弹窗选项方法
  function createShow(speciality) {
    let group = ["Structure", "Formula", "Name", "Symmetry", "Metal", "Bandgap-PBE(ev)", "Bandgap-HSE(ev)", "DOI", "URL", "Publication"].concat(speciality);
    let html = ``;
    for (let i = 0; i < group.length; i++) {
      if (group[i] != "") {
        html += `<div class="form-group col-md-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="option" value="${i}" id="show${i}" checked>
                <label class="form-check-label" for="show${i}">
                  ${group[i]}
                </label>
              </div>
            </div>`;
      }
    }
    return html;
  }

  // 矢量校验
  function validateVector(input) {
    if (!input) {
      return false;
    }
    const vector = tf.tensor(input);
    const shape = vector.shape;
    const rank = shape.length;
    // 不能是数字或字符串
    if (rank === 0 && JSON.stringify(shape) === "[]") {
      return false;
    }
    // 不能是 []
    if (rank === 1 && JSON.stringify(shape) === "[0]") {
      return false;
    }
    if (rank === 1) {
      return shape[0];

    } else {
      return false;
    }

  }

  // 张量校验
  function validateTensor(input) {
    if (!input) {
      return false;
    }
    const tensor = tf.tensor(input);
    const shape = tensor.shape;
    const rank = shape.length;
    // 不能是数字或字符串
    if (rank === 0 && JSON.stringify(shape) === "[]") {
      return false;
    }
    // 不能是 []
    if (rank === 1 && JSON.stringify(shape) === "[0]") {
      return false;
    }
    return {
      rank: rank,
      shape: shape
    };
  }

  // 创建矢量标题
  function vectorTitle(v) {
    const res = validateVector(v);
    if (!res) {
      return "Vector";
    }
    let title = `Dimension: ${res}`;
    for (let i = 0; i < v.length; i++) {
      title += `
      V${i + 1}: [${v[i]}]`;
    }
    return title;
  }

  // 创建张量标题
  function tensorTitle(t) {
    function getValueFromArray(array, indices) {
      let value = array;
      for (let i = 0; i < indices.length; i++) {
        value = value[indices[i]];
      }
      return value;
    }

    function incrementIndices(indices, maxIndices) {
      let i = indices.length - 1;
      indices[i]++;

      while (i > 0 && indices[i] > maxIndices[i]) {
        indices[i] = 0;
        indices[i - 1]++;
        i--;
      }
    }

    const res = validateTensor(t);
    if (!res) {
      return "Tensor";
    }

    const { rank, shape } = res;
    let title = `Rank: ${rank} Shape: [${shape.join(', ')}]`;
    const tensor = tf.tensor(t);
    let array;
    try {
      array = tensor.arraySync();
    } catch (e) {
      console.error(e);
      return title += `
      Irregular`;
    }

    const indices = Array(rank).fill(0);
    const maxIndices = shape.map((dim) => dim - 1);

    while (indices[0] <= maxIndices[0]) {
      const value = getValueFromArray(array, indices);
      const tIndices = indices.map((i) => i + 1).join(',');
      title += `
      T${tIndices}: ${value}`;
      incrementIndices(indices, maxIndices);
    }

    return title;
  }

  // 打开Tip1弹窗方法
  var msg1;
  function openTipModal1() {
    $('#tipModal1').modal('show');
    $('.tipBody1 p').text(`${msg1}`);
  }

  // 打开Tip2弹窗方法
  var msg2 = 'The task has been submitted.';
  function openTipModal2() {
    $('#tipModal2').modal('show');
    $('.tipBody2 p').text(`${msg2}`);
  }

  $(document).ready(function () {

    // 设置卡片背景图
    const backgroundsLength = 9;
    let randomBackground = Math.floor(Math.random() * backgroundsLength + 1);
    $(".card").css("background-image", `url('imgs/jpg/image${randomBackground}.jpg')`)

    // 初始化数据容器
    var mat = {};
    var matFlag = true;
    var add = {};
    var addFlag = true;
    var title;
    var introduction;
    var speciality;
    var specialityType;
    var rows;
    var table;

    var uid = $("#uid").text();
    var username = $("#username").text();
    var password = $("#password").text();

    // user用户不能操作数据库
    if (username == "user") {
      $("#add").css("display", "none");
      $("#burn").css("display", "none");
      $("#update").css("display", "none");
      $("#delete").css("display", "none");
    }

    // 在Tip1弹窗中提交各种任务，并打开Tip2弹窗
    $("#tipYes").click(function () {
      if (msg1 == "Are you sure to add it?") {
        axios.post("http://127.0.0.1:8080/save", {
          "matEntity": add
        }).then(res => {
          console.log(res)
        }).catch(err => {
          msg2 = "Error."
          openTipModal2();
          console.error(err)
          return;
        })
      }
      if (msg1 == "Are you sure to update it?") {
        axios.put("http://127.0.0.1:8080/update", {
          "id": mat.id, "matEntity": mat
        }).then(res => {
          console.log(res)
        }).catch(err => {
          msg2 = "Error."
          openTipModal2();
          console.error(err)
          return;
        })
      }
      if (msg1 == "Are you sure to delete it?") {
        axios.delete("http://127.0.0.1:8080/deleteById", {
          params: { "id": mat.id }
        }).then(res => {
          console.log(res)
        }).catch(err => {
          msg2 = "Error."
          openTipModal2();
          console.error(err)
          return;
        })
      }
      if (msg1 == "Are you sure to change it?") {
        axios.post("http://127.0.0.1:8080/changeDBCard", {
          "id": uid, "title": title, "introduction": introduction
        }).then(res => {
          console.log(res)
        }).catch(err => {
          msg2 = "Error."
          openTipModal2();
          console.error(err)
          return;
        })
      }
      if (msg1 == "Are you sure to burn this database all?") {
        axios.delete("http://127.0.0.1:8080/destroy", {
          params: { "uid": uid }
        }).then(res => {
          console.log(res)
          location.replace(`http://127.0.0.1:8080/admin?username=${username}&password=${password}`)
          return;
        }).catch(err => {
          msg2 = "Error."
          openTipModal2();
          console.error(err)
          return;
        })
      }
      if (msg1 == "The file content format meets the requirements.Are you sure you want to upload it") {
        axios.post("http://127.0.0.1:8080/addFile", {
          "matEntities": rows
        }).then(res => {
          console.log(res);
        }).catch(err => {
          msg2 = "Error."
          openTipModal2();
          console.error(err);
          return;
        })
      }
      openTipModal2();
    })

    // 页面刷新方法
    $('#tipOk,#tipNo,.tipClose,.detailClose').click(function () {
      location.reload();
      return;
    });

    // Back返回
    $("#back").click(function () {
      location.replace(`http://127.0.0.1:8080/admin?username=${username}`);
    })

    // Add提示
    $("#addSubmit").click(function () {
      if (addFlag) {
        msg1 = "Are you sure to add it?";
        openTipModal1();
      }
      else {
        msg2 = "Invalid format for the custom attribute input."
        openTipModal2();
      }
    })

    // Update提示
    $("#updateSubmit").click(function () {
      if (matFlag) {
        msg1 = "Are you sure to update it?";
        openTipModal1();
      }
      else {
        msg2 = "Invalid format for the custom attribute input."
        openTipModal2();
      }
    })

    // Delete提示
    $("#delete").click(function () {
      msg1 = "Are you sure to delete it?";
      openTipModal1();
    })

    // Card提示
    $("#cardSubmit").click(function () {
      msg1 = "Are you sure to change it?";
      openTipModal1();
    })

    // Burn提示
    $("#burn").click(function () {
      msg1 = "Are you sure to burn this database all?";
      openTipModal1();
    })

    // 创建介绍卡片Card,创建表头
    axios.get("http://127.0.0.1:8080/findDBCard", {
      params: { "id": uid }
    }).then(res => {

      // 获取相关信息
      console.log(res.data)
      title = res.data.title;
      introduction = res.data.introduction;
      speciality = res.data.speciality;
      specialityType = res.data.specialityType;

      // 创建卡片
      $('.card').append(createCard(res.data))

      // 创建表头
      $("#tr").append(createTr(speciality));

      // 获取数据库中的所有内容
      axios.get("http://127.0.0.1:8080/findAll", {
        params: { "uid": uid }
      }).then(res => {
        console.log(res)

        // 渲染表格
        $('#tbody').append(createTable(res.data, speciality))

        // 分页效果
        table = $('#myTable').DataTable({
          "pageLength": 5,
          "lengthMenu": [1, 2, 3, 4, 5, 10, 15, 20, 25, 50, 100],
          "lengthChange": true,
          "paging": true,
          // 分页时也按需求展示
          "drawCallback": function () {
            $("#myTable_paginate").on("click", function () {
              hideOrShowChildElements(showOptions);
            });
          }
        });

      }).catch(err => {
        console.error(err)
      })

      // 创建Show选项
      $("#showChoose").append(createShow(speciality));

      // 创建一个空数组用于存储选中的值
      var showOptions = [];

      // 获取所有多选框元素
      const checkboxes = $('input[type="checkbox"]');

      // 遍历每个多选框元素
      checkboxes.each(function () {
        //默认情况下都展示
        showOptions.push($(this).val());
        // 添加事件监听器，当多选框状态改变时触发
        $(this).on('change', function () {
          // 检查多选框是否被选中
          if ($(this).prop('checked')) {
            // 将选中的值添加到数组中
            showOptions.push($(this).val());
          } else {
            // 如果多选框被取消选中，则从数组中移除该值
            let index = showOptions.indexOf($(this).val());
            if (index > -1) {
              showOptions.splice(index, 1);
            }
          }

          // 打印当前选中的值
          console.log('showOptions: ' + showOptions);
          // 显示或隐藏子元素
          hideOrShowChildElements(showOptions);

        });

      });

      // 显示或隐藏子元素方法
      function hideOrShowChildElements(showOptions) {

        // 获取 tr 元素下的除了ID以外的所有子元素
        const trChildElements = $('#tr').children().slice(1);
        // 获取 tbody 元素下的所有子元素
        const tElementsToHide = $('th[col], td[col]');

        // 遍历子元素
        trChildElements.each(function (index) {
          // 检查当前子元素的索引是否在 showOptions 数组中
          if (showOptions.includes(index + "")) {
            // 如果在数组中，则显示该子元素
            $(this).show();
          } else {
            // 如果不在数组中，则隐藏该子元素
            $(this).hide();
          }

        });

        // 遍历子元素
        tElementsToHide.each(function () {
          let colValue = $(this).attr('col');

          // 检查当前元素的 col 值是否在 showOptions 数组中
          if (showOptions.includes(colValue)) {
            // 如果在数组中，则显示该元素
            $(this).show();
          } else {
            // 如果不在数组中，则隐藏该元素
            $(this).hide();
          }
        });
      }

      // 创建Add输入框
      $("#addArea").append(createAdd(speciality))

      // 创建File文本
      $("#fileText").append(createFile(speciality))

      // 创建Update输入框
      $("#updateArea").append(createUpdate(speciality))

      // add初始化
      add.uid = uid;
      add.speciality = [];

      // 获取Add输入框内容
      const $saveStructure = $('#addStructure');
      $saveStructure.on('change', function () {
        add.structure = $saveStructure.val();
      });

      const $saveFormula = $('#addFormula');
      $saveFormula.on('change', function () {
        add.formula = $saveFormula.val();
      });

      const $saveName = $('#addName');
      $saveName.on('change', function () {
        add.name = $saveName.val();
      });

      const $saveSymmetry = $('#addSymmetry');
      $saveSymmetry.on('change', function () {
        add.symmetry = $saveSymmetry.val();
      });

      const $saveMetal = $('#addMetal');
      $saveMetal.on('change', function () {
        add.metal = $saveMetal.val();
      });

      const $saveBandgap_PBE = $('#addBandgap-PBE');
      $saveBandgap_PBE.on('change', function () {
        add.bandgappbe = $saveBandgap_PBE.val();
      });

      const $saveBandgap_HSE = $('#addBandgap-HSE');
      $saveBandgap_HSE.on('change', function () {
        add.bandgaphse = $saveBandgap_HSE.val();
      });

      const $saveDOI = $('#addDOI');
      $saveDOI.on('change', function () {
        add.doi = $saveDOI.val();
      });

      const $saveURL = $('#addURL');
      $saveURL.on('change', function () {
        add.url = $saveURL.val();
      });
      const $savePublication = $('#addPublication');
      $savePublication.on('change', function () {
        add.publication = $savePublication.val();
      });

      // 输入框校验数据格式
      for (let i = 0; i < speciality.length; i++) {
        add.speciality[i] = undefined;
        $(`#add${i}`).on('change', function () {
          let temp = $(`#add${i}`).val();
          add.speciality[i] = temp;
          try {
            let test = JSON.parse(temp);
            if (specialityType[i] == "Vector") {
              if (!validateVector(test)) {
                addFlag = false;
              }
            }
            if (specialityType[i] == "Tensor") {
              if (!validateTensor(test)) {
                addFlag = false;
              }
            }
          } catch (e) {
            console.error(e);
            addFlag = false;
          }
        });
      }

      // 关闭Add弹窗清空输入内容
      $(".addClose").click(function () {
        add = {};
        add.uid = uid;
        add.speciality = [];
        addFlag = true;
        $saveStructure.val(undefined);
        $saveFormula.val(undefined);
        $saveName.val(undefined);
        $saveSymmetry.val(undefined);
        $saveMetal.val(undefined);
        $saveBandgap_PBE.val(undefined);
        $saveBandgap_HSE.val(undefined);
        $saveDOI.val(undefined);
        $saveURL.val(undefined);
        $savePublication.val(undefined);
        for (let i = 0; i < speciality.length; i++) {
          $(`#add${i}`).val(undefined);
        }
      })

      // 获取所点击的表格内容,为Update输入框设置默认值，并获取修改的数据
      $("#myTable").on("click", "tbody tr", function () {

        // 获取所点击的数据信息
        $(this).find("td, th").first().each(function () {

          // 如果数据为空则不做响应
          const cid = $(this).text();
          if (cid === "No data available in table") {
            return;
          }

          axios.get("http://127.0.0.1:8080/findByCid", {
            params: { "cid": cid }
          }).then(res => {
            console.log(res)

            // 使用当前uid
            mat.uid = uid;

            mat.id = res.data.id;
            mat.structure = res.data.structure;
            mat.formula = res.data.formula;
            mat.name = res.data.name;
            mat.symmetry = res.data.symmetry;
            mat.metal = res.data.metal;
            mat.bandgappbe = res.data.bandgappbe;
            mat.bandgaphse = res.data.bandgaphse;
            mat.doi = res.data.doi;
            mat.url = res.data.url;
            mat.publication = res.data.publication;
            mat.speciality = res.data.speciality;

            // 设置默认值，获取修改值
            const $inputStructure = $('#updateStructure');
            $inputStructure.val(res.data.structure);
            $inputStructure.on('change', function () {
              mat.structure = $inputStructure.val();
            });

            const $inputFormula = $('#updateFormula');
            $inputFormula.val(res.data.formula);
            $inputFormula.on('change', function () {
              mat.formula = $inputFormula.val();
            });

            const $inputName = $('#updateName');
            $inputName.val(res.data.name);
            $inputName.on('change', function () {
              mat.name = $inputName.val();
            });

            const $inputSymmetry = $('#updateSymmetry');
            $inputSymmetry.val(res.data.symmetry);
            $inputSymmetry.on('change', function () {
              mat.symmetry = $inputSymmetry.val();
            });

            const $inputMetal = $('#updateMetal');
            $inputMetal.val(res.data.metal);
            $inputMetal.on('change', function () {
              mat.metal = $inputMetal.val();
            });

            const $inputBandgap_PBE = $('#updateBandgap-PBE');
            $inputBandgap_PBE.val(res.data.bandgappbe);
            $inputBandgap_PBE.on('change', function () {
              mat.bandgappbe = $inputBandgap_PBE.val();
            });

            const $inputBandgap_HSE = $('#updateBandgap-HSE');
            $inputBandgap_HSE.val(res.data.bandgaphse);
            $inputBandgap_HSE.on('change', function () {
              mat.bandgaphse = $inputBandgap_HSE.val();
            });

            const $inputDOI = $('#updateDOI');
            $inputDOI.val(res.data.doi);
            $inputDOI.on('change', function () {
              mat.doi = $inputDOI.val();
            });

            const $inputURL = $('#updateURL');
            $inputURL.val(res.data.url);
            $inputURL.on('change', function () {
              mat.url = $inputURL.val();
            });

            const $inputPublication = $('#updatePublication');
            $inputPublication.val(res.data.publication);
            $inputPublication.on('change', function () {
              mat.publication = $inputPublication.val();
            })

            // 当专有属性为空时输出一个元素都是null的数组
            if (!mat.speciality) {
              let ls = [];
              for (let i = 0; i < speciality.length; i++) {
                ls.push(null);
              }
              mat.speciality = ls;
            }

            // 当专有属性数组元素为空时用null替代
            for (let i = 0; i < mat.speciality.length; i++) {
              if (!mat.speciality[i]) {
                mat.speciality[i] = null;
              }
            }

            // 输入框校验数据格式
            for (let i = 0; i < mat.speciality.length; i++) {
              if (mat.speciality[i] !== null) {
                $(`#update${i}`).val(mat.speciality[i]);
              }
              $(`#update${i}`).on("change", function () {
                let temp = $(`#update${i}`).val();
                mat.speciality[i] = temp;
                try {
                  let test = JSON.parse(temp);
                  if (specialityType[i] == "Vector") {
                    if (!validateVector(test)) {
                      matFlag = false;
                    }
                  }
                  if (specialityType[i] == "Tensor") {
                    if (!validateTensor(test)) {
                      matFlag = false;
                    }
                  }
                } catch (e) {
                  console.error(e);
                  matFlag = false;
                }
              })
            }

            // 关闭Update弹窗清空输入内容
            $(".updateClose").click(function () {
              mat = {};
              matFlag = true;
              $inputStructure.val(undefined);
              $inputFormula.val(undefined);
              $inputName.val(undefined);
              $inputSymmetry.val(undefined);
              $inputMetal.val(undefined);
              $inputBandgap_PBE.val(undefined);
              $inputBandgap_HSE.val(undefined);
              $inputDOI.val(undefined);
              $inputURL.val(undefined);
              $inputPublication.val(undefined);
              for (let i = 0; i < speciality.length; i++) {
                $(`#update${i}`).val(undefined);
              }
            })

          }).catch(err => {
            console.error(err);
          });

        })

      });

    }).catch(err => {
      msg2 = "Error."
      openTipModal2();
      console.error(err)
    })

    $(".card").click(function () {

      // 屏幕太小不能操作
      if ($(window).width() <= 992) {
        return;
      }

      // user用户不能操作
      if (username === "user") {
        return;
      }

      // 打开卡片弹窗
      $("#cardModal").modal('show');

      // 修改标题与介绍的默认值
      const $newTitle = $('#title');
      $newTitle.val(title);
      $newTitle.on('change', function () {
        title = $newTitle.val();
      });

      const $newIntro = $('#intro');
      $newIntro.val(introduction);
      $newIntro.on('change', function () {
        introduction = $newIntro.val();
      });

    })

    // Detail弹窗相关

    // jsmol交互图像
    $('#detailModal').on('shown.bs.modal', function () {

      Jmol._isAsync = false;

      const s = document.location.search;

      Jmol._debugCode = (s.indexOf("debugcode") >= 0);

      let vh = 65 * window.innerHeight / 100;
      let vw = 42.5 * window.innerWidth / 100;

      var Info = {
        width: vw,
        height: vh,
        debug: false,
        color: "0xFFFFF1",
        use: "HTML5",
        j2sPath: "jsmol/j2s",
        isSigned: true,
        script: "set zoomlarge false;set antialiasDisplay;load DATA 'model' vasp " + mat.structure + "\nEND 'model'",
        disableJ2SLoadMonitor: true,
        disableInitialConsole: true,
        allowJavaScript: true
      }

      // 创建并初始化 Jmol applet 对象
      const jmolApplet0 = Jmol.getApplet("jmolApplet0", Info);

      $("#appdiv").html(Jmol.getAppletHtml("jmolApplet0", Info));

      // 创建Detail文本
      for (let i = 0; i < speciality.length; i++) {
        if (speciality[i] != "") {
          let str;
          let title;
          let isNull;
          if (specialityType[i] == "Scalar") {
            str = `<p class="infop scalar">${speciality[i]}:&emsp;<span id="Info${i}"></span></p>`;
            $("#scalar").next("hr").after($(str))
          }
          if (specialityType[i] == "Vector") {
            let v;
            try {
              v = JSON.parse(mat.speciality[i])
            } catch (e) {
              console.error(e);
            }
            title = vectorTitle(v);
            str = `<p class="infop vector" title="${title}">${speciality[i]}:&emsp;<span id="Info${i}"></span></p>`;
            isNull = $("#vector").next("hr").next("p").text();
            if (isNull == "Null") {
              $("#vector").next("hr").next("p").replaceWith($(str))
            }
            else {
              $("#vector").next("hr").after($(str))
            }
          }
          if (specialityType[i] == "Tensor") {
            let t;
            try {
              t = JSON.parse(mat.speciality[i]);
            } catch (e) {
              console.error(e);
            }
            title = tensorTitle(t);
            str = `<p class="infop tensor" title="${title}">${speciality[i]}:&emsp;<span id="Info${i}"></span></p>`;
            isNull = $("#tensor").next("hr").next("p").text();
            if (isNull == "Null") {
              $("#tensor").next("hr").next("p").replaceWith($(str))
            }
            else {
              $("#tensor").next("hr").after($(str))
            }
          }
        }
      }

      // Detail文本内容

      // 设置内容与标题
      $("#formulaInfo").text(mat.formula ? mat.formula : "Null").parent().attr('title', mat.formula ? mat.formula : "Null");
      $("#nameInfo").text(mat.name ? mat.name : "Null").parent().attr('title', mat.name ? mat.name : "Null");
      $("#symmetryInfo").text(mat.symmetry ? mat.symmetry : "Null").parent().attr('title', mat.symmetry ? mat.symmetry : "Null");
      $("#metalInfo").text(mat.metal ? mat.metal : "Null").parent().attr('title', mat.metal ? mat.metal : "Null");
      $("#PBEInfo").text(mat.bandgappbe ? mat.bandgappbe : "Null").parent().attr('title', mat.bandgappbe ? mat.bandgappbe : "Null");
      $("#HSEInfo").text(mat.bandgaphse ? mat.bandgaphse : "Null").parent().attr('title', mat.bandgaphse ? mat.bandgaphse : "Null");
      $("#doiInfo").text(mat.doi ? mat.doi : "Null").parent().attr('title', mat.doi ? mat.doi : "Null");
      $("#publicationInfo").text(mat.publication ? mat.publication : "Null").parent().attr('title', mat.publication ? mat.publication : "Null");

      // 关于VASP
      $("#structureInfo").text(mat.structure ? "VASP" : "Null").parent().attr('title', mat.structure ? mat.structure : "Null");

      // 关于Link
      $("#urlInfo").html(mat.url ? `<a href="${mat.url}" target="_blank" style="color: white;">Link</a>` : "Null").parent().attr('title', mat.url ? mat.url : "Null");

      // 关于其他
      for (let i = 0; i < mat.speciality.length; i++) {
        $(`#Info${i}`).text(mat.speciality[i] ? mat.speciality[i] : "Null").parent().attr('title', mat.speciality[i] ? mat.speciality[i] : "Null");
      }

      // 导出JSON文件功能
      $("#exportJSON").click(function () {
        function formatSpeciality(keys, values) {
          if (keys.length !== values.length) {
            throw new Error('The number of keys and values must be the same.');
          }

          let keyValuePairs = {};

          for (var i = 0; i < keys.length; i++) {
            let key = keys[i];
            let value = values[i];
            keyValuePairs[key] = value;
          }

          return keyValuePairs;
        }
        const specialityData = (mat.speciality === undefined || !mat.speciality[0]) ? undefined : mat.speciality;
        const defVal = {
          "Structure": mat.structure,
          "Formula": mat.formula,
          "Name": mat.name,
          "Symmetry": mat.symmetry,
          "Metal": mat.metal,
          "Bandgap-PBE(ev)": mat.bandgappbe,
          "Bandgap-HSE(ev)": mat.bandgaphse,
          "DOI": mat.doi,
          "URL": mat.url,
          "Publication": mat.publication,
          "Speciality": specialityData,
          "SpecialityType": specialityType
        };
        let mutVal = {};
        if (specialityData) {
          try {
            mutVal = formatSpeciality(speciality, specialityData);
          } catch (e) {
            msg2 = "Error."
            openTipModal2();
            console.error(e);
            return;
          }
        }
        const data = {
          ...defVal,
          ...mutVal,
        };

        const jsonData = JSON.stringify(data, null, 2);
        const nodeName = mat.name;
        const blob = new Blob([jsonData], { type: "application/json" });
        const a = $("<a>")
          .attr("href", URL.createObjectURL(blob))
          .attr("download", nodeName + ".json")
          .css("display", "none");
        $("body").append(a);
        a[0].click();
        a.remove();
      });


      // 导出VASP文件功能
      $("#exportVASP").click(function () {
        const content = mat.structure;
        const nodeName = mat.name;
        const blob = new Blob([content], { type: "text/plain" });
        const a = $("<a>")
          .attr("href", URL.createObjectURL(blob))
          .attr("download", nodeName + ".vasp")
          .css("display", "none");
        $("body").append(a);
        a[0].click();
        a.remove();
      });

    })

    // 初始化文件上传组件
    $("#file").fileinput({ showUpload: false, showCancel: false });

    // 关闭File弹窗清除上传文件
    $(".fileClose").click(function () {
      $('#file').fileinput('clear');
    })

    $("#file").on("change", function () {

      let file = this.files[0];
      console.log('file:', file);

      let fileName = file.name;
      let fileExtension = fileName.split('.').pop().toLowerCase();

      if (fileExtension === "xlsx") {
        readExcelAsJSON(file);
      }
      if (fileExtension === "json") {
        readJSON(file);
      }

    });

    function readJSON(file) {
      let reader = new FileReader();

      reader.onload = function (e) {

        let data = e.target.result;

        // 检查开头第一个字符是否是 '['，结尾最后一个字符是否是 ']'
        if (data.charAt(0) !== '[' || data.charAt(data.length - 1) !== ']') {
          // 如果不是，则在开头添加 '['，在结尾添加 ']'
          data = '[' + data + ']';
        }

        rows = JSON.parse(data);

        console.log('rows:', rows);

        // 表头设置为json
        let headers = "json";

        // 检查并绑定上传点击事件
        checksAndSubmit(headers, rows);

        formatRows(rows);

      }

      reader.readAsText(file);

    }

    function readExcelAsJSON(file) {

      let reader = new FileReader();

      reader.onload = function (e) {

        let data = e.target.result;

        console.log('data:', data);

        let workbook = XLSX.read(data, { type: 'binary' });

        let sheetName = workbook.SheetNames[0];
        let sheet = workbook.Sheets[sheetName];

        console.log('sheet:', sheet);

        // 获取第一行作为表头
        let headers = [];

        for (let c in sheet) {
          let cell = sheet[c];

          // 判断是否是第一行
          if (c.indexOf('1') !== -1) {
            headers.push(cell.v);
          }
        }

        console.log('headers:', headers)

        // 将表格数据转换为JSON数组
        rows = XLSX.utils.sheet_to_json(workbook.Sheets[sheetName]);

        console.log('rows:', rows);

        // 检查并绑定上传点击事件
        checksAndSubmit(headers, rows);

        formatRows(rows);

      }

      reader.readAsArrayBuffer(file);

    }

    // 格式化rows
    function formatRows(rows) {
      // 遍历数组中的每个对象
      rows.forEach(function (obj) {

        // 创建一个新的对象来存储修改后的键值对
        let newObj = {};

        //专有属性按表头规定顺序排列
        let result = Object.keys(obj)
          .filter(key => speciality.includes(key))
          .sort((a, b) => speciality.indexOf(a) - speciality.indexOf(b))
          .map(key => obj[key]);

        if (result.length < speciality.length) {
          result = result.concat(Array(speciality.length - result.length).fill(undefined));
        }

        // 遍历对象的键
        Object.keys(obj).forEach(function (key) {

          // 修改键名并存储到新的对象中
          if (key === "Structure" || key === "Formula" || key === "Name" || key === "Symmetry" || key === "Metal" || key === "DOI" || key === "URL" || key === "Publication") {
            newObj[key.toLocaleLowerCase()] = obj[key];
          }
          if (key === "Bandgap-PBE(ev)") {
            newObj["bandgappbe"] = obj[key];
          }
          if (key === "Bandgap-HSE(ev)") {
            newObj["bandgaphse"] = obj[key];
          }
        });

        // 清空原始对象的属性
        Object.keys(obj).forEach(key => {
          delete obj[key];
        });

        // 用修改后的对象替换原始对象
        newObj.speciality = result;
        newObj.uid = uid;
        Object.assign(obj, newObj);

      });
    }

    function checksAndSubmit(headers, rows) {

      $("#fileSubmit").off("click")

      checkRows(rows).then(fileFlag => {

        // 检查表头是否包含需要的字段，检查专有属性格式是否正确
        if (fileFlag && checkFields(headers)) {

          // 上传成功处理
          $("#fileSubmit").click(function () {
            msg1 = "The file content format meets the requirements.Are you sure you want to upload it";
            msg2 = 'The task has been submitted.';
            openTipModal1();
          });


        } else {

          // 表头错误或者专有属性格式错误提示
          $("#fileSubmit").click(function () {
            msg2 = "The header of the file does not meet the requirements or invalid format for proprietary property.";
            openTipModal2();
          })

        }

      }).catch(err => {
        msg2 = "Error."
        openTipModal2();
        console.error(err);
      })
    }

    // 检查表头
    function checkFields(headers) {

      let isValid = true;
      if (headers === "json") {
        return isValid;
      }

      // 判断headers包含需要的字段
      let requiredHeaders = ["Structure", "Formula", "Name", "Symmetry", "Metal", "Bandgap-PBE(ev)", "Bandgap-HSE(ev)", "DOI", "URL", "Publication"].concat(speciality);

      requiredHeaders.forEach(header => {
        if (!headers.includes(header)) {
          isValid = false;
        }
      });
      return isValid;

    }

    // 校验专有属性格式
    function checkRows(rows) {
      return new Promise((resolve, reject) => {
        function fetchRow(i) {
          return new Promise((resolve, reject) => {
            var row = rows[i];
            resolve(row);
          });
        }

        let isError = false; // 用于标记是否遇到错误

        for (let i = 0; i < rows.length; i++) {
          fetchRow(i)
            .then(row => {
              if (!row.hasOwnProperty('speciality') || !Array.isArray(row.speciality) || row.speciality.length === 0) {
                isError = true; // 设置 isError 为 true 表示遇到了错误
              } else {
                for (let j = 0; j < row.speciality.length; j++) {
                  try {
                    let test = row.speciality[j];
                    if (specialityType[j] == "Vector") {
                      if (!validateVector(test)) {
                        isError = true;
                      }
                    }
                    if (specialityType[j] == "Tensor") {
                      if (!validateTensor(test)) {
                        isError = true;
                      }
                    }
                  } catch (e) {
                    console.error(e);
                    isError = true;
                  }
                }
              }
            })
            .catch(err => {
              console.error(err);
              isError = true;
            });
        }

        // 在循环结束后根据 isError 的值来 resolve 或 reject
        if (isError) {
          reject(false);
        } else {
          resolve(true);
        }
      });
    }

  })

</script>

<body>

<i class="fa" th:text="${uid}" id="uid" hidden></i>
<i class="fa" th:text="${username}" id="username" hidden></i>
<i class="fa" th:text="${password}" id="password" hidden></i>

<!--卡片弹窗-->
<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardModalLabel">Card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="title">New title</label>
          <textarea class="form-control" id="title"></textarea>
        </div>
        <div class="form-group">
          <label for="intro">New introduction</label>
          <textarea class="form-control" id="intro"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-dismiss="modal"
                id="cardSubmit">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Add弹窗-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add</h5>
        <button type="button" class="close addClose" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row_Y">
        <div class="form-row" id="addArea">
          <div class="form-group col-6">
            <label for="addStructure">Structure</label>
            <textarea class="form-control" id="addStructure"></textarea>
          </div>
          <div class="form-group col-6">
            <label for="addFormula">Formula</label>
            <textarea class="form-control" id="addFormula"></textarea>
          </div>
          <div class="form-group col-6">
            <label for="addName">Name</label>
            <textarea class="form-control" id="addName"></textarea>
          </div>
          <div class="form-group col-6">
            <label for="addSymmetry">Symmetry</label>
            <textarea class="form-control" id="addSymmetry"></textarea>
          </div>
          <div class="form-group col-6">
            <label for="addMetal">Metal</label>
            <textarea class="form-control" id="addMetal"></textarea>
          </div>
          <div class="form-group col-6">
            <label for="addBandgap-PBE">Bandgap-PBE(ev)</label>
            <textarea class="form-control" id="addBandgap-PBE"></textarea>
          </div>
          <div class="form-group col-6">
            <label for="addBandgap-HSE">Bandgap-HSE(ev)</label>
            <textarea class="form-control" id="addBandgap-HSE"></textarea>
          </div>
          <div class="form-group col-6">
            <label for="addDOI">DOI</label>
            <textarea class="form-control" id="addDOI"></textarea>
          </div>
          <div class="form-group col-6">
            <label for="addURL">URL</label>
            <textarea class="form-control" id="addURL"></textarea>
          </div>
          <div class="form-group col-6">
            <label for="addPublication">Publication</label>
            <textarea class="form-control" id="addPublication"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fileModal"
                data-dismiss="modal">File</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"
                id="addSubmit">Submit</button>
        <button type="button" class="btn btn-secondary addClose" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--File弹窗-->
<div class="modal" id="fileModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">File</h4>
        <button type="button" class="close fileClose" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body row_Y">
        <div id="fileText">
          <P>Only XLSX or JSON file containing the following table headers can be accepted:</P>
          <span>Structure</span>
          <span>Formula</span>
          <span>Name</span>
          <span>Symmetry</span>
          <span>Metal</span>
          <span>Bandgap-PBE(ev)</span>
          <span>Bandgap-HSE(ev)</span>
          <span>DOI</span>
          <span>URL</span>
          <span>Publication</span>
        </div>
        </br>
        <div class="file-loading">
          <input id="file" type="file" accept=".xlsx,.json" title="">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="fileSubmit">Submit</button>
        <button class="btn btn-secondary fileClose" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Show弹窗-->
<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="showModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showModalLabel">Show</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row_Y">
        <form>
          <div class="form-row" id="showChoose">

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--表格弹窗-->
<div class="modal fade" id="rowModal" tabindex="-1" role="dialog" aria-labelledby="rowModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rowModalLabel">Operations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailModal"
                data-dismiss="modal" id="detail">Detail</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal"
                data-dismiss="modal" id="update">Update</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-dismiss="modal"
                id="delete">Delete</button>
        <button type="button" class="btn btn-secondary" id="rowClose" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Detail弹窗-->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="position: absolute; left: -25vw; width: 85vw; height: 90vh;">
      <div class="modal-header">
        <h4 class="modal-title" id="detailModalLabel">Detail</h4>
        <button type="button" class="close detailClose" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body row_Y" style="position: relative;">
        <!--渲染jsmol图像-->
        <div id="appdiv" style="position: absolute; width: 42.5vw; height: 65vh;"></div>
        <div id="infos" style="position: absolute; left: 45vw;">
          <small id="scalar">Scalar</small>
          <hr />
          <p class="infop scalar">Structure:&emsp;<span id="structureInfo"></span></p>
          <p class="infop scalar">Formula:&emsp;<span id="formulaInfo"></span></p>
          <p class="infop scalar">Name:&emsp;<span id="nameInfo"></span></p>
          <p class="infop scalar">Symmetry:&emsp;<span id="symmetryInfo"></span></p>
          <p class="infop scalar">Metal:&emsp;<span id="metalInfo"></span></p>
          <p class="infop scalar">Bandgap-PBE(ev):&emsp;<span id="PBEInfo"></span></p>
          <p class="infop scalar">Bandgap-HSE(ev):&emsp;<span id="HSEInfo"></span></p>
          <p class="infop scalar">DOI:&emsp;<span id="doiInfo"></span></p>
          <p class="infop scalar">URL:&emsp;<span id="urlInfo"></span></p>
          <p class="infop scalar">Publication:&emsp;<span id="publicationInfo"></span></p>
          <br />
          <hr /><small id="vector">Vector</small>
          <hr />
          <p class="infop vector">Null</p>
          <br />
          <hr /><small id="tensor">Tensor</small>
          <hr />
          <p class="infop tensor">Null</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="exportJSON">Export JSON</button>
        <button type="button" class="btn btn-primary" id="exportVASP">Export VASP</button>
        <button type="button" class="btn btn-secondary detailClose" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Update弹窗-->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Update</h5>
        <button type="button" class="close updateClose" data-dismiss="modal" aria-label="Close">×</button>
      </div>

      <div class="modal-body row_Y">

        <div class="form-row" id="updateArea">

          <div class="form-group col-6">
            <label for="updateStructure">Structure</label>
            <textarea class="form-control" id="updateStructure"></textarea>
          </div>

          <div class="form-group col-6">
            <label for="updateFormula">Formula</label>
            <textarea class="form-control" id="updateFormula"></textarea>
          </div>

          <div class="form-group col-6">
            <label for="updateName">Name</label>
            <textarea class="form-control" id="updateName"></textarea>
          </div>

          <div class="form-group col-6">
            <label for="updateSymmetry">Symmetry</label>
            <textarea class="form-control" id="updateSymmetry"></textarea>
          </div>

          <div class="form-group col-6">
            <label for="updateMetal">Metal</label>
            <textarea class="form-control" id="updateMetal"></textarea>
          </div>

          <div class="form-group col-6">
            <label for="updateBandgap-PBE">Bandgap-PBE(ev)</label>
            <textarea class="form-control" id="updateBandgap-PBE"></textarea>
          </div>

          <div class="form-group col-6">
            <label for="updateBandgap-HSE">Bandgap-HSE(ev)</label>
            <textarea class="form-control" id="updateBandgap-HSE"></textarea>
          </div>

          <div class="form-group col-6">
            <label for="updateDOI">DOI</label>
            <textarea class="form-control" id="updateDOI"></textarea>
          </div>

          <div class="form-group col-6">
            <label for="updateURL">URL</label>
            <textarea class="form-control" id="updateURL"></textarea>
          </div>

          <div class="form-group col-6">
            <label for="updatePublication">Publication</label>
            <textarea class="form-control" id="updatePublication"></textarea>
          </div>

        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"
                id="updateSubmit">Submit</button>
        <button type="button" class="btn btn-secondary updateClose" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!--Tip1弹窗-->
<div class="modal" id="tipModal1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Tip</h4>
        <button type="button" class="close tipClose" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body tipBody1">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="tipYes">Yes</button>
        <button class="btn btn-secondary" data-dismiss="modal" id="tipNo">No</button>
      </div>
    </div>
  </div>
</div>

<!--Tip2弹窗-->
<div class="modal" id="tipModal2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Tip</h4>
        <button type="button" class="close tipClose" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body tipBody2">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="tipOk">OK</button>
      </div>
    </div>
  </div>
</div>

<!--介绍卡片-->
<div class="card">

</div>

<div class="container">
  <!--按钮-->
  </br></br>
  <div class="col-md-12 btns">
    <button class="btn btn-primary operation" type="button" data-toggle="modal" id="back">Back</button>
    <button class="btn btn-primary operation" type="button" data-toggle="modal" data-target="#addModal"
            id="add">Add</button>
    <button class="btn btn-primary operation" type="button" data-toggle="modal" data-target="#showModal"
            id="show">Show</button>
    <button class="btn btn-danger operation" type="button" data-toggle="modal" id="burn">Burn</button>
  </div>
  <!--表格-->
  <div class="row">
    <div class="col-md-12 mt-2">
      <table id="myTable" class="table table-striped">
        <thead>
        <tr id="tr">
          <th scope="col">ID</th>
          <th scope="col">Structure</th>
          <th scope="col">Formula</th>
          <th scope="col">Name</th>
          <th scope="col">Symmetry</th>
          <th scope="col">Metal</th>
          <th scope="col">Bandgap-PBE(ev)</th>
          <th scope="col">Bandgap-HSE(ev)</th>
          <th scope="col">DOI</th>
          <th scope="col">URL</th>
          <th scope="col">Publication</th>
        </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
      </table>
    </div>
  </div>
</div>
</body>

</html>